absl-py==0.9.0
appdirs==1.4.3
appnope==0.1.0
array-split==0.5.2
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
conda==4.3.16
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
entrypoints==0.3
fenics==2019.1.0
fenics-dijitso==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
filelock==3.0.12
Flask==1.1.1
Flask-MySQL==1.5.1
flatdict==4.0.1
future==0.18.2
gast==0.2.2
gitdb==4.0.2
GitPython==3.1.0
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.13.2
grpcio==1.27.2
gym==0.17.1
h5py==2.10.0
idna==2.9
imageai==2.1.5
imageio==2.8.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.48.0
numpy==1.18.1
oauthlib==3.1.0
object-detection==0.1
opencv-python==4.2.0.32
openpnm==2.2.0
opt-einsum==3.2.0
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipenv==2018.11.26
porespy==1.2.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pyevtk==1.1.1
pygame==1.9.6
pyglet==1.5.0
Pygments==2.5.2
pylint==2.4.4
pymongo==3.10.1
PyMySQL==0.9.3
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
pyrsistent==0.15.7
python-dateutil==2.8.1
pytrax==0.1.2
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
slim==0.1
smmap==3.0.1
sympy==1.5.1
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
transforms3d==0.3.1
typed-ast==1.4.1
unyt==2.7.1
urllib3==1.25.8
virtualenv==20.0.10
virtualenv-clone==0.5.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.0.0