{% extends "layout.html" %}
{% block body %}
<!-- import plugin script -->

<form action="/anilisis/{{paciente.4}}" method="POST" >

     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

 
 
  <h1>Paciente:{{nombre}}</h1>
  <h1>Estado:{{estado}}</h1>
 
   
 
   <body>
     
     <canvas id="line-chart" width="800" height="450"></canvas>
     
   </body>
 
 

 
   <script>
     var XData= [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}]
;
     var YData = [{% for item in values %}
                      {{item}},
                    {% endfor %}]
;
      
    new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: XData,
    datasets: [{ 
        data: YData,
        label: "Temperatura ",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Temperatura'
    }
  }
});
 

    
 
    
 
 
   </script>
   <center>
    <a href="/editPaciente/{{paciente.0}}" class="btn btn-success">Normal</a>
    <a href="/editPaciente/{{paciente.0}}" class="btn btn-warning">Medio</a>
    <a href="/editPaciente/{{paciente.0}}" class="btn btn-danger">Critico</a>
   </center>
   <center>
    <h1>Historial de Recomendaciones</h1>
  </center>
  <div class="row">
    <div class="col-md-5">
           
     <div class="card card-body">
        <form action="/add_paciente" method="POST" >
            <div class="form-group">
            <input type="text" name="nombreDoctor" placeholder="Nombre del Doctor" class="form-control" >
            
                
            </div>
            <div class="form-group">
                <input type="text" name="recomendacion" placeholder="Recomendaciones" class="form-control">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Recomendar
                </button>
            </div>
            
            
        
          
          </div>
            
        
          
        
        </form>

     </div>
  <div class="col-md-7">
    <table class="table table-striped table-bordered bg-white">
        <thead>
            <tr>
                <td>Doctor</td>
                <td>Recomendaciones</td>
                <td>Fecha</td>
                <td>Hora</td>
                
            </tr>
        </thead>
    <tbody>
            {% for receta in recetas %}
            <tr> 
                <td>{{receta.1}}</td>
                <td>{{receta.2}}</td>
                <td>{{receta.3}}</td>
                <td>{{receta.4}}</td>

                
            </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
   </body>


        
               
            
            
            
       
    
    </form>
    </div>
</div>
{% endblock %}