<form action="/add_paciente" method="POST" >

    <input type="text" name="nombresCompletos" placeholder="Nombre Completos" >
    <input type="text" name="genero" placeholder="Genero" >
    <input type="text" name="edad" placeholder="Edad" >
    <input type="text" name="cedula" placeholder="Cedula" >
    <input type="text" name="direccion" placeholder="Direccion" >
    <input type="text" name="contactNumber" placeholder="Numero de contacto" >
    <input type="text" name="email" placeholder="Email" >

    <button type="submit">
        Guardar
    </button>

</form>